@import '~antd/dist/antd.css';

.site-layout-content {
    min-height: 280px;
    padding: 24px;
    background: #fff;
}
#components-layout-demo-top .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.363);
}
.ant-row-rtl #components-layout-demo-top .logo {
    float: right;
    margin: 16px 0 16px 24px;
}
.ant-typography {
    color: rgb(255, 255, 255) !important;
    overflow-wrap: break-word;
}
.ant-modal-footer {
    padding: 10px 16px;
    text-align: center;
    background: transparent;
    border-top: 1px solid #f0f0f0;
    border-radius: 0 0 2px 2px;
}
.ant-input {
    margin: 0;
    font-variant: tabular-nums;
    list-style: none;
    font-feature-settings: 'tnum', "tnum";
    position: relative;
    display: inline-block;
    width: 600px !important;
    min-width: 0;
    padding: 4px 11px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    line-height: 1.5715;
    background-color: #fff;
    background-image: none;
    border: 2px solid #096dd9 !important;
    border-radius: 2px;
    transition: all 0.3s;
}
.my-div {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 310px;
}
.my-div-right {
    display: inline-block;
    padding-left: 20px;
}
.main-div {
    width: 100%;
    height: 100%;
    overflow: auto;
}
.my-ant-input {
    margin: 0;
    font-variant: tabular-nums;
    list-style: none;
    font-feature-settings: 'tnum', "tnum";
    position: relative;
    display: inline-block;
    width: 150px !important;
    min-width: 0;
    padding: 5px 11px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    line-height: 1.5715;
    background-color: #fff;
    background-image: none;
    border: 1px solid #929793 !important;
    border-radius: 2px;
    transition: all 0.3s;
}
.my-select {
    width:150px;
    padding-left: 20px;
    padding-bottom: 20px;
}
.editable-cell {
    position: relative;
}

.editable-cell-value-wrap {
    padding: 5px 12px;
    cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 4px 11px;
}

[data-theme='dark'] .editable-row:hover .editable-cell-value-wrap {
    border: 1px solid #434343;
}
.ant-modal-header {
    padding: 16px 24px;
    color: rgba(0, 0, 0, 0.85);
    background: #0780ed !important;
    border-bottom: 1px solid #f0f0f0;
    border-radius: 2px 2px 0 0;
}
.ant-modal-title {
    margin: 0;
    color: rgba(240, 240, 240, 0.85) !important;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}
.my-p-label{
    font-weight: bold;
}